[run]
branch = True
source = .

[report]
exclude_lines = 
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if name == .main.:

omit = 
    tests/*
    manage.py
    /tests/
    test*.py
    venv/
    config/
    game/templatetags/*
    game/templatetags/boxed_answer.py
    thor/*
    thor/wsgi.py