@font-face
{
    font-family: 'THOR Ragnarok';
    src: url('THOR Ragnarok.otf');
}

body {
    background-image: url("lightning.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover, contain;
    font-family: 'Mallanna';
}

h1 {
    text-align: center;
    text-shadow: 5px 2px darkred;
    font-family: 'THOR Ragnarok';
    color: white;
  }

h1.authhome {
    font-size: 55px;
    letter-spacing: 5;
}

h1.home {
    color: rgb(168, 63, 81);
    font-size: 100px;
    letter-spacing: 38px;
    text-shadow: 4px 2px white;
}

h2.home {
    font-family: 'THOR Ragnarok';
    font-size: 40px;
    font-style: extra bold;
    letter-spacing: 5;
    color: white;
}

.scoreboard {
    background-color: rgba(15, 18, 19, 0.445);
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    }

button.login {
    color: rgb(192, 108, 108);
    background-color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 26px 63px;
    font-size: 22px;
    }

button.login:hover {
    background-color: rgb(70, 19, 33);
    color: white;
    border-style: solid 3px;
    border-color: white;
}


button.playnow {
    color: rgb(71, 24, 37);
    background-color:rgb(255, 255, 255);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.4s;				
    font-size: 25px;
    padding: 10px;
    border-style: solid;
}

button.playnow:hover {
    background-color: rgba(161, 40, 111, 0.76);
    color: white;
    border-style: solid;
    border-color: rgb(175, 175, 175);
}

button.home {
    color: white;
    background-color: rgb(71, 24, 37);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;		
    font-size: 20px;
    border-style: solid;
    border-color: rgb(175, 175, 175);
}

button.home:hover {
    background-color:  rgb(255, 255, 255);
    color:  rgb(71, 24, 37);
}