* {
    margin: 0;
    padding: 0;
}

.background {
    background:url("images/bg.jpg") no-repeat;
    background-size: 3000px 1000px;
    background-position: center;
    height:100%;
}

.long_container {
    min-height:50%;
}

.medium_container {
    min-height:10%;
}

.bigger_font {
    font-size: 30px;
}