{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'game/my_style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel = "stylesheet" type = "text/css" href="{% static 'game/my_style.css' %}">

    <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Orbitron|Mallanna&display=swap">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>


    
    <script src="https://kit.fontawesome.com/b7f2372ef6.js" crossorigin="anonymous"></script>


    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="font-size: 18px; opacity: 80%">
        <img src="{% static 'game/head.png' %}" alt="Thor Icon" width="40" class="mr-3 ml-1 py-1">
        <a class="navbar-brand" href="#">THOR: The God of Thunder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto mt-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'game:home' %}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'game:howtoplay' %}">Instruction<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-auto btn btn-secondry" href="{% url "game:logout" %}">Logout</a>
                    </li>
                    <li class="nav-item mt-auto">
                        <p  class="text-white ml-auto mt-2">Logged in as {{ user.username }}</p>
                    </li>
                </div>
            </div>
            {% else %}
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <li class="nav-item active mt-auto">
                        <a class="nav-link" href="{% url 'game:home' %}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'game:howtoplay' %}">Instruction<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mt-auto">
                        <a class="nav-link btn btn-primary" href="{% url "social:begin" "google-oauth2" %}?{{ request.GET.urlencode}}"><i class="fab fa-google" ></i><span class="sr-only">(current)</span></a>
                    </li>
                </div>
            </div>
        {% endif %}
    </nav>
    
    <div class="container-fluid medium_container">
<!--    <div class ="nav-bar"></div>-->
    {% block content %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
