{% extends "polls/base.html" %}

{% block content %}

<h1>{{question.question_text}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
    <table class = 'table table-primary'>
{% for choice in question.choice_set.all %}
        <tr>
            <th>
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            </th>
            {% endfor %}
        </tr>
        </table>
<input type="submit" class="btn btn-primary" value="Vote">
</form>


<li><a href = "{% url 'polls:index' %}">Back to index</a></li>
{% endblock %}