{% extends 'game/base.html' %}
{% load static %}

{% block content %}

<h1 class="mt-4" style="font-family: 'THOR Ragnarok'; font-size: 60px; text-align:center; color:wheat ; padding-top:5%" >Create Your Own Forms</h1>
<div class="mt-5 container">
  <div class="row mt-5">
    <div class="col-8">
      <center>
        <form action='{%url "game:preview"%}' method="post">
          {% csrf_token %}
          <div class="form-group  has-feedback">
            <h4 class="text-white">{{ form.as_p }}</h4>
            <button class="btnform btn-light mt-3 mb-5" style="padding: 15px 35px; font-size: 18px" type="submit">Next</button>
          </div>
        </form>
      </center>
    </div>
    <div class="col-4 row">
      <p style="color: white; font-size:18px" class="p-4 justify-content-center form_box"> 
        How to fill in the question form?<br>This is the format to tell us where you’d like to create a fill-in the blank boxes.<br><br>
        <b><mark>[[fill the answer here|fill the hint here]</mark></b><br><br>
        You can also leave the hint area empty.<br><br>
        <b><mark>[[fill the answer here|]]</mark></b><br><br>
        You can also add the following.<br>
        <table>
          <tr>
            <th>A tab</th>
            <th>1 space</th>
            <th>2 spaces</th>
            <th>A new line</th>
          </tr>
          <tr>
            <td><b><mark>&amp;emsp;</mark></b></td>
            <td><b><mark>&amp;nbsp;</mark></b></td>
            <td><b><mark>&amp;ensp;</mark></b></td>
            <td><b><mark>&lt;br&gt;</mark></b></td>
          </tr>
        </table>
        <br>
        Example:<br>
        What part of an if statement should be indented?&lt;br&gt;<br>
        Ans: The statements [[within|inside]] it&lt;br&gt;<br>
        &lt;br&gt;<br>
        >>> num = 12:&lt;br&gt;<br>
        >>> if [[num > 5|]]:&lt;br&gt;<br>
        ...&amp;emsp;print(“Larger than 5”)&lt;br&gt;<br>
        ...if num <=  47:&lt;br&gt;<br>
        ...&amp;emsp;print(“Between 5 and 47”)&lt;br&gt;<br>
        [[Larger than 5|]]&lt;br&gt;<br>
        Between 5 and 47&lt;br&gt;<br>
      </p>
    </div>
  </div>
<div>

{% endblock  %}
