{% extends "game/base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'game/game_page_style.css' %}">

<div class="container main_focus">
<h2 id="countdown" align="right">20 : 00 Remaining</h2>
  <h4 id="diff"></h4>
  <div class="title">
  <h3 id="title" style="font-weight: 800; font-size: 34px"></h3>
  </div>
  <br>
  <div class="q_text">
    <p id="question"></p>
  </div>
<br>
<button type="button" id="btn-next" onclick="nextQuestion()">Next</button>

</div>

<script>

  let time = 1199;
  let max_time = 1199;
  let score = 0;
  let result = 0;
  let q_index = 0;
  let q_title = {{q_title|safe}};
  let q_text = {{q_text|safe}};
  let q_diff = {{q_diff|safe}}
  let answer = {{answer|safe}};
  let hint = {{hint|safe}};
  let total_question = q_title.length - 1;
  let user_ans = document.getElementsByTagName("INPUT");
  let real_ans = answer[q_index];
  let ans_hint = hint[q_index];
  let green = "rgb(109, 255, 109)";
  let red = "#ff9494";
  document.getElementById("btn-next").style.display = "none"

  window.onload = function() {
    document.getElementById("answer").focus();
  };

  let downloadTimer = setInterval(function() {
    let sec = time%60;
    let min = Math.floor(time/60);
    if (sec <= 9){
        if (min <= 9){
            document.getElementById("countdown").innerHTML = "0" + min + " : " + "0" + sec + " Remaining"
        }else{
            document.getElementById("countdown").innerHTML = min + " : " + "0" + sec + " Remaining"
        }
    }else{
        if(min <= 9){
            document.getElementById("countdown").innerHTML = "0" + min + " : " + sec + " Remaining"
        }else{
            document.getElementById("countdown").innerHTML = min + " : " + sec + " Remaining"
        }
    }
    time--;
    if (time<0){
        result = Math.floor((score/(max_time-time))*100);
        clearInterval(downloadTimer);
        location.href='{% url "game:receive" topic_id %}';
        
    }
  },1000)

  document.getElementById("diff").innerHTML = "Difficulty: " + q_diff[q_index].charAt(0).toUpperCase() + q_diff[q_index].slice(1);
  document.getElementById("title").innerHTML = q_title[q_index];
  document.getElementById("question").innerHTML = q_text[q_index];

  function checkAnswer() {
    let i;
    for (i = 0; i < user_ans.length; i++) {
      if (user_ans[i].value == ""){
        user_ans[i].style.backgroundColor = "white";
      }
      else if (user_ans[i].value == real_ans[i]){
        user_ans[i].style.backgroundColor = green;
        score++;
      }
      else{
        user_ans[i].style.backgroundColor = red;
      }
    }
    
    let all_correct = true;
    let j;
    for (j = 0; j < user_ans.length; j++) {
      if (user_ans[j].style.backgroundColor != green) {
        all_correct = false;
        break;
      }
    }
    if (all_correct) {
        document.getElementById("btn-next").style.display = "inline"
        document.getElementById("btn-next").focus()
    }
  }

  function nextQuestion(){

    if (q_index < total_question){
      q_index += 1;
      document.getElementById("diff").innerHTML = "Difficulty: " + q_diff[q_index].charAt(0).toUpperCase() + q_diff[q_index].slice(1);
      document.getElementById("title").innerHTML = q_title[q_index];
      document.getElementById("question").innerHTML = q_text[q_index];
      document.getElementById("answer").focus();
      real_ans = answer[q_index];
      ans_hint = hint[q_index];
      document.getElementById("btn-next").style.display = "none"
    }else{
        result = Math.floor((score/(max_time-time))*100);
        clearInterval(downloadTimer);
        location.href='{% url "game:receive" topic_id %}';
    }
  }

$("#btn-next").click(function(){
    $.ajax({
        url:'{% url "game:receive" topic_id %}',
        data:{
            'result_score':result
        },
        dataType:'json'
    })
});

</script>
{% endblock %}
