{% extends "game/base.html" %}
{% load gamepage_filter %}

{% block content %}

<style> 
input[type=text] {
  padding: 15px 5px;
  box-sizing: border-box;
  border: 2px solid #eeeddd;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

input[type=text]:focus {
  border: 2px solid #555;
}

.main_focus {
  background-color:white;
  padding:20px;
}

.title {
  text-align: center;
}

.q_text {
  text-align: justified;
}

</style>

<span class="main_focus">
  <span class="title"><h3 id="title"></h3></span>
  <br>
  <span class="q_text">
    <p id="question"></p>
  </span>
</span>
<br>
<button type="button" id="btn-next" onclick="nextQuestion()" disabled>Next</button>
<script>
  let q_index = 0;
  let q_title = {{q_title|safe}};
  let q_text = {{q_text|safe}};
  let answer = {{answer|safe}};
  let hint = {{hint|safe}};
  let user_ans = document.getElementsByTagName("INPUT");
  let real_ans = answer[q_index];
  let ans_hint = hint[q_index];
  let all_correct = [];
  let green = "#6dff6d";
  let red = "#ff9494";

  window.onload = function() {
    document.getElementById("answer").focus();
  };

  document.getElementById("title").innerHTML = q_title[q_index];
  document.getElementById("question").innerHTML = q_text[q_index];

  function checkAnswer() {
    let i;
    for (i = 0; i < user_ans.length; i++) {
      if (user_ans[i].value == ""){
        user_ans[i].style.backgroundColor = "white";
      }
      else if (user_ans[i].value == real_ans[i]){
        user_ans[i].style.backgroundColor = green;
      }
      else{
        user_ans[i].style.backgroundColor = red;
      }
    }
  }

  function nextQuestion(){

    if (q_index < 9){
      q_index += 1;
      document.getElementById("title").innerHTML = q_title[q_index];
      document.getElementById("question").innerHTML = q_text[q_index];
      document.getElementById("answer").focus();
      real_ans = answer[q_index];
      ans_hint = hint[q_index];
    }
  }
</script>
{% endblock %}