{% extends "game/base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<script>

    function change_data() {
        var x = document.getElementById("select_topic").value;
        var rank_num = 1;
        var num_reset_score = 1;
        {% for each_score in best %}
            var topic_text = "{{ each_score.key }}"
            var name_id = "name_" + num_reset_score;
            var name_score = "num_" + num_reset_score;
            document.getElementById(name_id).innerHTML = "";
            document.getElementById(name_score).innerHTML = "";
            if (x == topic_text) {
                var name_id = "name_" + rank_num;
                var name_score = "num_" + rank_num;
                document.getElementById(name_id).innerHTML = "{{ each_score.user }}";
                document.getElementById(name_score).innerHTML = {{ each_score.value }};
                rank_num++;
            }
            num_reset_score++;
        {% endfor %}
    }
</script>

    <h1 class="mt-5 pt-5" style="font-family: 'THOR Ragnarok'; color:white; font-size: 55px; letter-spacing: 5">Thor: The God of Thunder</h1>
    <div class="container text-white my-3">
        <div class="row d-flex justify-content-around mb-3 align-content-center">
            <div class="col-5">
                <div class="score_table row d-flex justify-content-left">
                    <div class="col-6 d-flex justify-content-center">
                        <div class="row align-content-center" style="font-size: 20px"> TOPIC </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                            <select class="browser-default custom-select" id = "select_topic" onchange="change_data()">
                                <option selected>Select topic</option>
                                {% for each_topic in all_topic %}
                                <option value="{{ each_topic.topic_name }}"> {{each_topic.topic_name}}</option>
                                {% endfor %}
                            </select>
                    </div>
                </div>
            </div>
            <div class="col-5"></div>
        </div>
        <div class="row justify-content-around">
            <div class="score_table col-5">
                <div class="row d-flex justify-content-center mt-2">
                    <h3 class="mt-1">TOP 10 SCOREBOARD</h3> 
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-4 d-flex justify-content-center">
                        <div class="row"> RANK </div>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        NAME
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        SCORE
                    </div>
                </div>
                {% for num in number %}
                <div class="row d-flex justify-content-center">
                    <div class="col-4 d-flex justify-content-center">
                        <div class="row"> {{num}} </div>
                    </div>
                    <div class="col-4 d-flex justify-content-center" id="name_{{num}}">
                    </div>
                    <div class="col-4 d-flex justify-content-center" id="num_{{num}}">
                    </div>
                </div>
                <br>
                {% endfor %}
                <div class="row d-flex justify-content-center" style="padding-top: 3%">
                </div>  
            </div>
            
            <div class="col-5">
                <div class="row d-flex justify-content-center">
                    <center><img src="{% static 'game/icon.gif' %}" alt="Thor Icon" height="350"></center>
                </div>
                <div class="row d-flex justify-content-center my-3">
                    <button type="button" class="btn btn-light btn-lg col-11"><a href="{% url 'game:topic' %}">Play Now</a></button>
                </div>
                <div class="row d-flex justify-content-around my-3">
                    <button type="button" class="btn btn-light col-5"><a href="{% url 'game:statistic' %}">Player Stats</a></button>
                
                    <button type="button" class="btn btn-light col-5"><a href="{% url 'game:form' %}">Create Forms</a></button>
                </div>
            </div>
        </div> 
     </div>
{% else %}
    <center>
    <h1  class="mt-5 pt-5" style="font-family: 'THOR Ragnarok'; color: rosybrown; font-size: 100px; letter-spacing: 38px; text-shadow: 4px 2px white" >THOR</h1>
    <h2 style="font-family: 'THOR Ragnarok'; color: white; font-size: 40px; font-type:extra bold; letter-spacing: 5;">The God of Thunder</h2>
    <img src="{% static 'game/icon.gif' %}" alt="Thor Icon" height="300" width="auto">
    <div class="mt-3 row justify-content-center">    
        <div class="col-2 d-flex justify-content-center">
            <button type="button" class="btn btn-light" style="padding: 26px 63px; border-style: solid;"><a href="{% url "social:begin" "google-oauth2" %}">Login with <i class="ml-1 fab fa-google" ></i></a></button>
        </div>
    </div>
    </center>
{% endif %}
{% endblock %}
