{% extends "game/base.html" %}

{% block content %}
<h1 class=""style="font-family: 'THOR Ragnarok'; font-size: 80px; text-align:center; color: wheat ; padding-top:10%; word-spacing:10" >How to play</h1>
<p style="color: white"> 
Thor: The God of Thunder is an Education Game where players have to correctly answer a series of fill-in the blank questions in order to advance 
to the next planet(level). There are 10 planets in total and passing each planet is worth a specific amount of lighting points. There will be a 
time limit according to the question’s difficulty level for the player to come up with the answers. The player can view the hint of each question
 when place the cursor mouse in the answer box field.
</p>
{% endblock %}