{% extends "game/base.html" %}
{% block content %}
    <h1 class=""style="font-family:verdana; text-align:center; color:azure; padding-top:5%" > Player Stats <br> <br></h1>
<div class="row">
  <div class="col-sm-6">
      <img class="img-responsive rounded mx-auto d-block" src="{{ pic.profile_photo }}">
</div>
    <div class="col-sm-6">
        {% if user.is_authenticated %}
    <h1 class="text-white">Score = {{ stat.score }}</h1>
        <a href="{% url 'game:statistic' %}">stat</a>
    <br>
            <a href="{% url 'game:home' %}">home</a>

    <a href="{% url 'game:form' %}">form</a>
        {% endif %}
    </div>
</div>
{% endblock %}