{% extends "game/base.html" %}

{% block content %}
<h1 class="mt-5 pt-5" style="font-family: 'THOR Ragnarok'; color:white; font-size: 55px; letter-spacing: 5">Player's Profile<br> <br></h1>
{% if user.is_authenticated %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <img class="img-responsive rounded mx-auto d-block" src="{{ pic.profile_photo }}" alt="Profile Picture" width="300" height="auto" style="border-radius:50%; border-style:solid">
        </div>
        <div class="col-7">
            <div class="row justify-content-center">
                <div class="score_table col-10 text-white">
                    <div class="row d-flex justify-content-center">
                        <div class="col-5 d-flex justify-content-center">
                            <h1 class="mt-1">{{ user.username }}</h1>
                        </div>
                        <div class="col-5 d-flex justify-content-center">
                            <h1 class="mt-2">ID :{{ user.id }}</h1>
                        </div>
                    </div>
                    <br>
                    <div class="row d-flex justify-content-center mt-2">
                        <h3 class="mt-1">Best score for each topic</h3>
                    </div>
                    <div class="row d-flex justify-content-center mt-2">
                        <div class="col-5 d-flex justify-content-center">
                            <h2 class="mt-1">Topic</h2>
                        </div>
                        <div class="col-5 d-flex justify-content-center">
                            <h2 class="mt-2">Score</h2>
                        </div>
                    </div>
                    {% if user_score %}
                    {% for score in user_score %}
                    <br>
                    <div class="row d-flex justify-content-center">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="row"> {{score.key}} </div>
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="row"> {{score.value}} </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <br><br><br><br><br>
            <div class="row justify-content-center">
                <div class="col-6 d-flex justify-content-center">
                    <button type="button" class="btn btn-light"><a href="{% url 'game:home' %}">Home</a></button>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <button type="button" class="btn btn-light"><a href="{% url 'game:form' %}">Create Forms</a></button>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endif %}
<br><br><br><br><br>
{% endblock %}